@model MVCNew_project.Models.Department

@{
    ViewBag.Title = "Create Department";
}
<br />
<br />
<br />
<br />

<form method="Post" asp-action="Create">
    <label asp-for="DeptID"></label>
    <input asp-for="DeptID"/>
    <br />
    <br />
    <label asp-for="DeptName"></label>
    <input asp-for="DeptName" />
    <br />
    <br />
    <label asp-for="Capacity"></label>
    <input asp-for="Capacity" />
    <br />
    <br />
    <input type= "submit" class="btn btn-danger" value="Add"/>
</form>